.features {
    padding-top: 186px;
    padding-bottom: 121px;
}

.features__items {
    display: flex;
    justify-content: space-between;
}

.features__item {
    text-align: center;
    padding: 45px 35px 49px 35px;
    max-width: 361px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #ffffff;
    &-title {
        color: #000000;
        font-size: 24px;
        margin-top: 38px;
        margin-bottom: 34px;
        line-height: 7.2px;
    }
    &-text {
        color: #555555;
        line-height: 30px;
    }
}