.main {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 726px;
}

.main__inner {
    text-align: center;
    &-title {
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        line-height: 70px;
        color: #f3f3f8;
        font-size: 60px;
        padding-top: 185px;
    }
    &-subtitle {
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        line-height: 70px;
        color: #f3f3f8;
        font-size: 60px;
        font-weight: bold;
    }
    &-text {
        color: #f3f3f8;
        font-size: 20px;
        font-weight: 500;
        line-height: 72px;
    }
}

.main__inner-buttons {
    margin-top: 50px;
}

.main__inner-button-1 {
    color: #0674ec;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    background-color: #ffffff;
    padding: 21px 32px;
}

.main__inner-button-2 {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 28px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 21px 32px;
    margin-left: 30px;
}

.main__form-wrapper {
    display: flex;
    padding: 40px 0 40px 40px;
    margin-top: 166px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: #ffffff;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: calc(100% - 30px);
        height: 15px;
        background-color: rgba(#fff, 0.5);
        border-radius: 6px;
        left: 15px;
        top: -13px;
    }
    &::after {
        content: '';
        position: absolute;
        width: calc(100% - 60px);
        height: 30px;
        background-color: rgba(#fff, 0.5);
        border-radius: 6px;
        left: 30px;
        top: -26px;
    }
}

.main__form-inner {
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    max-width: 807px;
    input {
        width: 612px;
        border-radius: 4px;
        height: 55px;
        outline: none;
        border: none;
        padding-left: 29px;
    }
    &::placeholder {
        color: #676767;
        font-size: 16px;
        line-height: 42px;
    }
}

.main__form-categoties {
    color: #555555;
    font-size: 16px;
    padding-left: 20px;
    line-height: 56px;
    padding-right: 16px;
    border-left: 1px solid #dcdcdc;
    cursor: pointer;
    img {
        width: 13px;
        height: 8px;
        margin-left: 36px;
    }
}

.main__form-button {
    padding: 21px 68px;
    border: none;
    color: #ffffff;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #0674ec;
    margin-left: 30px;
}