//@import "../../node_modules/slick-carousel/slick/slick";
@import "vars";
@import "global";
@import "libs";
@import "fonts";
@import "header";
@import "main";
@import "features";
@import "popular";
@import "products";
@import "followers";
@import "information";
@import "why";
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

@import "media";